<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
<!--                {{currentYear | date : 'yyyy'}} &copy; Shreyu theme by-->
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end footer-links d-none d-sm-block">
                    {{currentYear | date : 'yyyy'}} &copy; Development by Bạch Đăng Tuấn
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
