<app-default-layout>
    <div class="auth-logo mx-auto">
        <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="../assets/images/logo-dark.png" alt="" height="24">
            </span>
        </a>

        <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-light text-center">
            <span class="logo-lg">
                <img src="../assets/images/logo-light.png" alt="" height="24">
            </span>
        </a>
    </div>

    <h6 class="h5 mb-0 mt-3" i18n>Tạo tài khoản mới</h6>
    <p class="text-muted mt-1 mb-3" i18n>Tạo một tài khoản miễn phí và bắt đầu sử dụng Shreyu-Dịch vụ quản lý đặt vé
        truyến đi trực tuyến</p>

    <form name="signup-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="authentication-form">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
        <!--Tài khoản-->
        <div class="mb-3">
            <label class="form-label" i18n>Tài khoản</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="user" appFeatherIcon></i>
                </span>
                <input type="text" class="form-control" id="username" i18n-placeholder placeholder="Tài khoản của bạn"
                       required
                       formControlName="username" [ngClass]="{'is-invalid': formSubmitted && formValues.name.invalid}">

                <div *ngIf="formSubmitted && formValues.username.invalid" class="invalid-feedback">
                    <div *ngIf="formValues.username.errors?.required" i18n>
                        Vui lòng nhập tài khoản
                    </div>
                </div>
            </div>
        </div>
        <!--Mật khẩu-->
        <div class="mb-3">
            <label class="form-label" i18n>Mật khẩu</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="lock" appFeatherIcon></i>
                </span>
                <input type="password" class="form-control" id="password" i18n-placeholder
                       placeholder="Mật khẩu của bạn" formControlName="password" required minlength="4"
                       [ngClass]="{'is-invalid': formSubmitted && formValues.password.invalid}">


                <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">

                    <div *ngIf="formValues.password.errors?.required" i18n>
                        Vui lòng nhập mật khẩu
                    </div>
                    <div *ngIf="formValues.password.errors?.minlength" i18n>
                        Mật khẩu phải lớn hơn 6 ký tự
                    </div>

                </div>
            </div>
        </div>
        <!--Họ tên-->
        <div class="mb-3">
            <label class="form-label" i18n>Họ tên</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="user" appFeatherIcon></i>
                </span>
                <input type="text" class="form-control" id="name" i18n-placeholder placeholder="Tên đầy đủ của bạn"
                       required
                       formControlName="name" [ngClass]="{'is-invalid': formSubmitted && formValues.name.invalid}">

                <div *ngIf="formSubmitted && formValues.name.invalid" class="invalid-feedback">
                    <div *ngIf="formValues.name.errors?.required" i18n>
                        Vui lòng nhập tên
                    </div>
                </div>
            </div>
        </div>
        <!--Địa chỉ Email-->
        <div class="mb-3">
            <label class="form-label" i18n>Địa chỉ Email</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="mail" appFeatherIcon></i>
                </span>
                <input type="email" class="form-control" required id="email" placeholder="hello@coderthemes.com"
                       formControlName="email" [ngClass]="{'is-invalid': formSubmitted && formValues.email.invalid}">


                <div *ngIf="formSubmitted && formValues.email.invalid" class="invalid-feedback">

                    <div *ngIf="formValues.email.errors?.required" i18n>
                        Vui lòng nhập email
                    </div>
                    <div *ngIf="formValues.email.errors?.email" i18n>
                        Email phải là một địa chỉ email hợp lệ
                    </div>

                </div>
            </div>
        </div>
        <!--Địa chỉ số ddiejn thoại-->
        <div class="mb-3">
            <label class="form-label" i18n>Số điện thoại</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="icon-dual" data-feather="phone" appFeatherIcon></i>
                </span>
                <input type="email" class="form-control" required id="numberPhone" placeholder="Số điện thoại của bạn"
                       formControlName="numberPhone"
                       [ngClass]="{'is-invalid': formSubmitted && formValues.email.invalid}">


                <div *ngIf="formSubmitted && formValues.email.invalid" class="invalid-feedback">

                    <div *ngIf="formValues.email.errors?.required" i18n>
                        Vui lòng nhập email
                    </div>
                    <div *ngIf="formValues.email.errors?.email" i18n>
                        Email phải là một địa chỉ email hợp lệ
                    </div>

                </div>
            </div>
        </div>
        <!--Chính sách-->
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signup" checked>
                <label class="form-check-label" for="checkbox-signup" i18n>
                    Tôi chấp nhận <a href="javascript: void(0);">
                    Các điều khoản và điều kiện</a>
                </label>
            </div>
        </div>

        <div class="mb-3 text-center d-grid">
            <button class="btn btn-primary" type="submit" i18n>Đăng ký</button>
        </div>
    </form>

    <p class="text-muted" footerLink i18n>Bạn đã có tài khoản?, quay lại đăng nhập <a [routerLink]="['../login']"
                                                                                      class="text-primary fw-bold ms-1">Đăng
        nhập</a></p>
</app-default-layout>
