<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Tạo mới nhà xe"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Thông tin nhà xe</h4>


                <form class="needs-validation row" [formGroup]="validationGroup1" #validate1="ngForm">
                    <div class="col-md-7">
                        <div class="mb-3">
                            <label class="form-label" for="validationCustom01">Tên nhà xe</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name"
                                   value="Mark" required formControlName="name"
                                   [ngClass]="{ 'is-valid': validate1.submitted && form1.firstName.valid , 'is-invalid': validate1.submitted && form1.firstName.invalid }">
                            <div *ngIf="validate1.submitted && form1.firstName.valid" class="valid-feedback">
                                Looks good!
                            </div>

                            <div *ngIf="validate1.submitted && form1.firstName.invalid" class="invalid-feedback">
                                Please enter first name.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="validationCustom03">Địa chỉ</label>
                            <input type="text" class="form-control" id="validationCustom03" placeholder="City" required
                                   formControlName="address"
                                   [ngClass]="{ 'is-valid': validate1.submitted && form1.city.valid , 'is-invalid': validate1.submitted && form1.city.invalid }">
                            <div *ngIf="validate1.submitted && form1.city.valid" class="valid-feedback">
                                Looks good!
                            </div>

                            <div *ngIf="validate1.submitted && form1.city.invalid" class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="validationCustom05">Lời giới thiệu </label>
                            <textarea type="text-area" class="form-control" id="validationCustom05" placeholder="Zip" required
                                   formControlName="description"
                                   [ngClass]="{ 'is-valid': validate1.submitted && form1.zip.valid , 'is-invalid': validate1.submitted && form1.zip.invalid }"></textarea>

                            <div *ngIf="validate1.submitted && form1.zip.valid" class="valid-feedback">
                                Looks good!
                            </div>

                            <div *ngIf="validate1.submitted && form1.zip.invalid" class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="invalidCheck" required
                                       formControlName="acceptTerms"
                                       [ngClass]="{ 'is-invalid': validate1.submitted && form1.acceptTerms.invalid }">
                                <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                                <div *ngIf="validate1.submitted && form1.acceptTerms.invalid" class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Tạo mới</button>
                    </div>

                    <div class="col-md-5">
                        <ngx-dropzone (change)="onSelect($event)" [multiple]="false" class="dropzone"
                                      style="height: 100% !important;">
                            <ngx-dropzone-label>
                                <i class="h1 text-muted dripicons-cloud-upload"></i>
                                <h3>Tải ảnh lên.</h3>
                                <span class="text-muted font-13">(Đây chỉ là một dropzone demo. Các tập tin được chọn là
                                <strong>không</strong> thực sự tải lên.)</span>
                            </ngx-dropzone-label>
                            <ng-container *ngFor="let f of files">
                                <ngx-dropzone-preview [removable]="true" (removed)="onRemove(f)"
                                                      (click)="onClick($event)"
                                                      [style.background-image]="getPreviewUrl(f)"
                                                      [style.background-size]="'cover'"
                                                      *ngIf="f.type.includes('image')">
                                    <!--                                        <ngx-dropzone-label>-->
                                    <!--                                            <div class="dz-size">{{getSize(f)}}</div>-->
                                    <!--                                            <div class="dz-filename">{{f.name}}</div>-->
                                    <!--                                        </ngx-dropzone-label>-->
                                </ngx-dropzone-preview>
                            </ng-container>
                        </ngx-dropzone>
                    </div>
                </form>




            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>
<!-- end row -->

