<app-default-layout>
    <div class="text-center">

        <div class="auth-logo mx-auto mb-3">
            <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-dark text-center">
                <span class="logo-lg">
                    <img src="../assets/images/logo-dark.png" alt="" height="24">
                </span>
            </a>

            <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-light text-center">
                <span class="logo-lg">
                    <img src="../assets/images/logo-light.png" alt="" height="24">
                </span>
            </a>
        </div>
        <div>
            <img src="../assets/images/success.svg" alt="" height="200">
        </div>
        <h4 class="h4 mb-2 mt-2">Xin chúc mừng</h4>
        <span class="text-muted mt-1 mb-2">Tài khoản của bạn đã được đăng ký thành công. Hệ thống sẽ tự động quay về trang
            đăng nhập trong <h4>{{count}}</h4>
        </span>
    </div>
    <p class="text-muted" footerLink>Back to <a [routerLink]="['../login']" class="text-primary fw-bold ms-1">Login</a>
    </p>
</app-default-layout>
