<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Quản lý nhà xe"></app-page-title>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Danh sách nhà xe</h4>
                <p class="text-muted font-14">
                    Danh sách các nhà xe
                </p>
                <!-- table start -->
                <app-advanced-table
                        [totalItems]="totalItems"
                        [page]="pageCurrent"
                        [limit]="limit"
                        [pagination]="true"
                        [hasRowSelection]="true"
                        (pageChange)="updatePage($event)"
                >
                    <ng-template #theHeaders>
                        <tr>
                            <th *ngFor="let column of columns" [style.width.px]="column.width" class="text-capitalize">
                                {{column.label}}</th>
                            <th>Hành động</th>
                        </tr>
                    </ng-template>

                    <ng-template #theContent>
                        <tr *ngFor="let i of records">
                            <td>{{i.id}}</td>
                            <td>
                                <img class="w-100"
                                     [src]="i.image"
                                     alt="ảnh nhà xe">
                            </td>
                            <td>{{i.name}}</td>
                            <td>124 Mỹ Đình, Nam Từ Liêm, Hà Nội</td>
                            <td>{{i.description.slice(0, 40) + '...'}}</td>
                            <td>22</td>
                            <td>{{i.createdAt | date}}</td>
                            <td>
                                <span *ngIf="i?.status === false; else active" class="badge badge-soft-danger py-1">Chưa hoạt động</span>
                                <ng-template #active>
                                    <span class="badge badge-soft-success py-1">Đang hoạt động</span>
                                </ng-template>
                            </td>
                            <td>
                                <div class="d-flex gap-1" style="cursor: pointer">
                                    <button (click)="RedirectToDetail(i.id,$event)">
                                        <i data-feather="edit" appFeatherIcon class="icon-dual"></i>
                                    </button>
                                    <i data-feather="trash" appFeatherIcon class="icon-dual"></i>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                </app-advanced-table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->


