<h4 class="mt-1 fs-15 fw-bold text-uppercase">Danh sách các dòng xe</h4>

<div class="row mt-3">
    <div class="col-xxl-4 col-md-6" *ngFor="let car of paginateData;let i = index">
        <div class="card border">
            <div class="card-body">
                <div class="badge bg-success float-end" *ngIf="car.status === true">
                    {{'Đang hoạt động'}}</div>
                <div class="badge bg-warning float-end" *ngIf="car.state === false">
                    {{'Dừng hoạt động'}}</div>
                <p class="text-success text-uppercase fs-14 mb-2">{{car.type}}</p>
                <h5 class="text-dark">{{car.name}}</h5>
                <p class="text-muted mb-4">{{car.description.slice(0, 25) + '...'}}</p>
                <div>
                    <img class="w-100" [src]="car.images" alt="hinhAnhXe">
                </div>
            </div>
            <div class="card-body border-top">
                <div class="d-flex justify-content-between">
                    <p>{{car.numberRegister}}</p>
                    <p>{{car.driver}}</p>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>

<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getPremiumData();">
</ngb-pagination>
