<!--<form #displayForm="ngForm" class="my-2" *ngIf="isSearchable">-->
<!--    <div class="row mb-2">-->
<!--        <div class="col-12 col-sm-6" *ngIf="pageSizeOptions.length">-->
<!--            <div class="text-center text-sm-start">-->
<!--                <label class="form-label me-1">Show-->
<!--                    <select class="form-select form-select-sm  w-auto ms-1 me-1 d-inline" name="pageSize"-->
<!--                        id="event-category" required [(ngModel)]="service.pageSize" (ngModelChange)="paginate()">-->
<!--                        <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>-->
<!--                    </select>-->
<!--                    entries</label>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; end col&ndash;&gt;-->
<!--        <div class="col-12" [class.col-sm-6]="pageSizeOptions.length">-->
<!--            <div class="d-flex align-items-center justify-content-center justify-content-sm-end">-->
<!--                <label class="d-inline">Search:-->
<!--                    <input type="text" name="searchTerm" class="form-control form-control-sm d-inline w-auto ms-1"-->
<!--                        aria-controls="advanced-table" [(ngModel)]="service.searchTerm" (ngModelChange)="searchData()">-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; end col&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; end row &ndash;&gt;-->
<!--</form>-->

<div class="table-responsive">
    <table id="advancd-table" class="table advanced-table table-nowrap mb-0" #advancedTable>
        <thead>
        <ng-container *ngTemplateOutlet="theHeaders"></ng-container>
        </thead>
        <tbody>
        <ng-container *ngTemplateOutlet="theContent"></ng-container>
        </tbody>
    </table>

    <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-md-between mt-2"
         *ngIf="pagination">
        <div>
            Hiển thị {{limit * (page - 1) }} tới
            {{limit * (page - 1) + limit}} trong {{totalItems}}
        </div>
        <ngb-pagination class="pagination-rounded custom-pagination" [collectionSize]="totalItems"
                        [(page)]="page" [maxSize]="3" [rotate]="true" [pageSize]="limit"
                        (pageChange)="pageChange.emit($event)">
        </ngb-pagination>
    </div>

</div>
