<app-default-layout>
    <div class="text-center">
        <div class="auth-logo mx-auto">
            <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-dark text-center">
                <span class="logo-lg">
                    <img src="../assets/images/logo-dark.png" alt="" height="24">
                </span>
            </a>

            <a [routerLink]="['../../dashboard/ecommerce']" class="logo logo-light text-center">
                <span class="logo-lg">
                    <img src="../assets/images/logo-light.png" alt="" height="24">
                </span>
            </a>
        </div>
        <div class="mt-4">
            <div class="logout-checkmark">
                <img src="../assets/images/logout.svg" alt="" height="125">
            </div>
        </div>
        <h4 class="h4 mb-0 mt-2">Đăng xuất thành công !</h4>
        <span class="text-muted mt-1 mb-2">
            Hệ thống sẽ tự động quay về trang đăng nhập trong <h4>{{count}}</h4>
        </span>
    </div>

    <p class="text-muted" footerLink>Back to <a [routerLink]="['../login']" class="text-primary fw-bold ms-1">Sign
            In</a>
    </p>
</app-default-layout>
