<div class="card">
    <div class="card-body">
        <div class="text-center mt-2">
            <img [src]="company?.image" alt="" class="w-100"/>
            <h3 class="mt-4 mb-3">{{company?.name | uppercase }}</h3>
            <p *ngIf="company?.status === false ; else Active" class="badge-soft-danger fs-18 badge">
                {{'Không hoạt động'}}
            </p>
            <ng-template #Active>
                <p class="badge-soft-success fs-18 badge">
                    {{'Đang hoạt động'}}
                </p>
            </ng-template>
            <!--            <h6 class="text-muted fw-normal mt-2 mb-0">{{user.designation}}</h6>-->
            <!--            <h6 class="text-muted fw-normal mt-1 mb-3">{{user.location}}</h6>-->
            <!--            <ngb-progressbar type="success" [value]="user.profileProgress!" class="mb-3" height='14px'>-->
            <!--                <span class="fs-12 fw-bold">Your Profile is-->
            <!--                    <span class="fs-11">{{user.profileProgress}}%</span> completed</span>-->
            <!--            </ngb-progressbar>-->
            <!--            <button type="button" class="btn btn-primary btn-sm me-1">Follow</button>-->
            <!--            <button type="button" class="btn btn-white btn-sm">Message</button>-->
        </div>

        <!-- profile  -->
        <div class="mt-2 pt-2 border-top">
            <h4 class="mb-3 fs-15">Lời giới thiệu</h4>
            <p class="text-muted mb-3">
                {{company?.description}}
            </p>
        </div>
        <div class="mt-3 pt-2 border-top">
            <h4 class="mb-2 fs-15">Thông tin liên hệ</h4>
            <div class="table-responsive">
                <table class="table table-borderless mb-0 text-muted">
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{company?.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>{{company?.phone}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Địa chỉ</th>
                        <td>{{company?.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--        <div class="mt-2 pt-2 border-top">-->
        <!--            <h4 class="mb-3 fs-15">Skills</h4>-->
        <!--            <label class="badge badge-soft-primary me-1" *ngFor="let skill of user.skills">{{skill}}</label>-->
        <!--        </div>-->
    </div>
</div>
<!-- end card -->
